.winner{
color:rgb(249, 31, 31);
}

div{
box-shadow: 4px 6px 8px grey , -4px -6px 8px grey;;
height:300px;
background:rgb(19, 195, 226);
padding-top:10px;
padding-left:10px;
}

div button{
background:rgba(108, 218, 85, 0.89);
padding:4px;
border-radius:10px;

}
