img{
	
	width:30%;
    float: left;
    margin:1.66%;
}

h1{
	margin-left:1.6%;
	font-size:30px;
	border-bottom:3px solid #888888;
	text-transform:uppercase;
	font-weight:bold;
	width:30%;
	padding-bottom: 6px;
}