* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    height: 100vh;
    width: 100%;
}

.outer {
    min-width: 100%;
    height: 100vh;
    top: 0;
    background: rgb(32, 222, 255);
    position: absolute;
    opacity: 0.5;
}

h1 {
    margin: 0;
    position: absolute;
    left: 22%;
    top: 40%;
    opacity: 10.3;
    font-size: 7rem;
}

h1:hover {
    text-decoration-line: underline;
    color: rgb(247, 114, 121);
    font-size: 7.2rem;
    transition: all 0.87s;
}

@media (min-width:663px) and (max-width:819px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width:496px) and (max-width:663px) {
    h1 {
        left: 20%;
        font-size: 4rem;
    }
}

@media (min-width:300px) and (max-width:491px) {
    h1 {
        left: 22%;
        font-size: 2rem;
    }
    .outer {
        height: 50vh;
    }
    img {
        height: 50vh;
    }
    body {
        height: 50vh;
    }
}

@media (max-width:313px) {
    h1 {
        font-size: 30px;
    }
    .outer {
        height: 50vh;
    }
    img {
        height: 50vh;
    }
    body {
        height: 50vh;
    }
}